<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @picture.name %>
</p>
  <strong>Name:</strong>
  <%= image_tag @picture.image %>
</p>

<p>
  <strong>Room:</strong>
  <%= @picture.room %>
</p>

<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
